{% extends 'base.html.twig' %}

{% block title %}Edytuj typ{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Edytuj typ{% endtrans %} </h1>

        {{ include('table/type/form/_new_form.html.twig') }}
        </br>
        {{ include('table/type/form/_delete_form.html.twig') }}
        </br></br>
        <a href="{{ path('table_type_index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
