{% extends 'base.html.twig' %}

{% block title %}Dodaj typ{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Dodaj typ{% endtrans %}</h1>
        {{ include('table/type/form/_new_form.html.twig') }}
        </br>     </br>
        <a href="{{ path('type_index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
