{% extends 'base.html.twig' %}

{% block title %}Dodaj ocenę{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Dodaj ocenę ✅</h1>

        {{ include('table/grade/form/_new_form.html.twig', {'button_label': 'Dodaj ocenę'}) }}
        </br>
        <a href="{{ path('table_grade_index') }}">Wróć</a>
    </div>
{% endblock %}
