$red: #fc6a66;
$white: #fff;
$red_dark: #973f3c;
$black: #28314A;
$grey: #8E939F;
$grey_dark:#60646d;
$brown: #F8BA88;
@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
body{
 font-family: 'Barlow', sans-serif;
 position: relative;
}
//ogolny css
//koniec ogólnego cssa
//poczatek buttona
a{
 color: $black;
 &:hover, &:active{
  color:$red;
  text-decoration: none;
 }

}
button{
 background-color: transparent;
 cursor: pointer;
 border:none;
 outline: none;
}
 .btn{
  text-transform: uppercase;
  display: inline-block;
  color: $white;
  font-size: 14px;
  line-height: 34px;
  padding: 5px 35px;
  letter-spacing: .100em;
  background-size: 200% 100%;
  background-color: $red;
  min-width: 198px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid $red;
  border-radius: 50px;
  transition: background-position .4s, color .4s;

  &:hover,
  &:focus {
   background-position: -100% 0;
   background-image: linear-gradient(to right, $red 50%, $red_dark 50%);
   color: $white;
   border-bottom: 2px solid $red;
  }
  &:active {
   background-color: $red;
   color: $white;
   border-bottom: 2px solid $red;
  }
  a {
   color:$white;
  }
 }

//koniec buttona
.send_file{
 display:table;
}
.half_grade{
 display:table;
}
.gade_half{
 font-size: 20px;
 color: $orange;
 .pad{
  padding-right: 15px;
 }
}
//inputy:

input,textarea{
 color: #28314A;
 font-size: 14px;
 max-height: 180px;
 line-height: 24px;
 border: none;
 padding:0 10px;
 border: 1px solid #8E939F;
 resize: none;
 outline: none;
  &:active, &:focus, &:hover{
    border: 1px solid $red;
  }
}
input, select{
 border-radius: 50px;
 margin-bottom: 15px;
 width: 25%;
 height: 35px;
 min-width: 250px;

}

label{
 width:25%;
}
textarea{
 width:25%;
 min-width:250px;
 border-radius: 25px;
 height: 300px;
}
.count{
 background-color: red;
 width: 15px;
 height: 15px;
 color: white;
 border-radius: 52px;
 padding: 4px 8px;
 font-size: 12px;
 /* margin-top: 9px; */
 position: relative;
 top: 6px;
 left: -6px;
}
.underline{text-decoration: underline;}
.container{
  position:relative;
}
h1{
 font-weight: bold;
 margin-top:80px;
 margin-bottom:40px;
 &:before{
 content: '';
 position: absolute;
 top: -15px;
 height: 2px;
 width: 64px;
 background-color: $red;}
}
.back{
 margin-left:50px;
 position: relative;
 &:before{
content: url("public/img/back.png");
 position: absolute;
  left: -40px;
  top: -5px;
 }
  &:hover{
  margin-left: 40px;
  transition: .3s;
 }
}
.headertable{
 font-weight: bold;
 border-bottom: 2px solid $grey;
 padding-bottom: 15px;
}
.pad{
 margin: 10px 0;
}
a, button{
&:hover{

 svg{
fill:$red;
 }
}}
.listtable{
 border-bottom:1px solid $grey;

}
.form-group {
 margin-bottom: 0;}
.che{
 display: grid;
 .chec{
  label{
   float: left;
  }
  .pinc{
   width:25%;
   float: left;
  }
 }

}

/*course zadania */
.crud_zad {
 display: inline-block;
 padding-top:40px;
 .zad{ position:relative;
  font-size: 28px;
  float: left;
  margin-right: 30px;
  font-weight: bold;
  &:before{
   content: '';
   position: absolute;
   top: -15px;
   height: 2px;
   width: 64px;
   background-color: $brown;
  }
 }
 form, a{
  float: left;
 }
}


.task{
 margin-top: 30px;
 font-size: 20px;
 ul{
  list-style-type: none;
  padding-left: 0px;

 li::before {
  content: "• ";
  color: $red;
 }}
 a, form, ul{
  margin-right: 15px;
  float: left;
 }
}
.task_content{
 display: inline-block;
 margin: 30px 0;
 width: 100%;
}
.file{
 display: inline-block;
 a{
  position:relative;
  font-size: 20px;
  margin-left: 30px;
  &:before{
   content: url("public/img/file.png");
   position: absolute;
   left: -30px;

  }
 }
 a, form{
  float: left;
 }
}

/*checkboxy*/
.pinc input[type="checkbox"]{
min-width: 10px;
 position: relative;
 width: 0px;}
.pinc input[type="checkbox"]:before {
 cursor: pointer;
 content: '';
 display: inline-block;
 width: 35px;
 height: 35px;
 background: $white;
 border: 1px solid $red;
 transition: .3s;
 text-align: center;
 position: relative;
}
.pinc input[type="checkbox"]:checked {
 &:before{
  cursor: pointer;
  content: '';
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid $red;
  transition: .3s;
  text-align: center;
  position: relative;
  background: $red;

 }
 &:after {
  content: '';
  position: absolute;
  z-index: 10;
  top: 1px;
  left: 10px;
  width: 14px;
  height: 27px;
  border: 6px solid $white;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
 }

}


/*szukajka*/
#search_form{
 position: relative;
 input,label {
  width: auto;
  float: left;
 }
 label{
  margin-top: 5px;
  margin-right: 5px;
 }
}
.fleft{
 border: none;
 background: transparent;
}
.delete{
 background-color: $grey;
 border-bottom: 2px solid $grey;
 &:hover,
 &:focus {
  background-image: linear-gradient(to right, $grey 50%, $grey_dark 50%);
  border-bottom: 2px solid $grey;
 }
 &:active {
  background-color: $grey;
  border-bottom: 2px solid $grey;
 }
}
.bold{
 font-weight: bold;
}
/*kafelki*/
.card-flip {
  perspective: 1000px;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
}

.card-flip,
.front,
.backy {
  width: 100%;
 height: 289px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.backy {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
 padding: 1px;
  z-index: 2;
  transform: rotateY(0deg);
}

.backy {
  transform: rotateY(180deg);
}
.cardmy{    text-align: center;
padding: 14px;
 z-index:10;
border: 1px solid $grey;
 .nameblock{
  font-weight: bold;
  font-size: 25px;
 }
  .btn{
   margin-top: 15px;
  }
&:hover{
 border: 1px solid $red;
}}
/*cos tam innego */

.mar{
  margin-top:80px;
  margin-bottom: 30px;
}
.navbar-nav {
  display: contents;}
header{
  background-color: #f8f9fa;
}
/*laguages*/
.languages{
padding-top:20px;
 a{font-weight: bold;
  padding: 0 5px;
  &:active{
   color:$red;
  }
 }

}
/*menu*/

 /*--------------
   HOME SLIDER
 --------------*/
.home_slider_section {
 height: 85vh;
 //overflow-y: hidden;

 .item {
  min-width: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: table;
  background-color: rgba(0,0,0,0.4);

  .content {

   vertical-align: middle;
   display: table-cell;
   z-index: 3;
   text-align: left;
   height: 85vh;
   color: $white;

   .slider_title {
    h1{
     color: $white;
     font-size: 50px;
     letter-spacing: -1px;
     margin-bottom: 30px;
     text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);}
   }
   .slider_description {

    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
   }
  }
  img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: -1;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
  }
 }
 .owl-dots {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  max-width: 1120px;

  transform: translateX(-50%);
 }
 .owl-dot {
  display: inline-block;
  width: 65px;
  height: 1px;
  margin-right: 5px;
  background-color: $white !important;
  &.active {
   width: 65px;
   height: 1px;
   margin-right: 5px;
   background-color: $red !important;
  }
  &:hover {
   background-color: $red !important;
  }
 }
}


/*--------------
  czat
--------------*/

.chat {
 margin: 0 auto;
 max-width: 420px;
 position: relative;
 display: block;

 img {
 border-radius: 50%;
 width: 32px;
 height: 32px;
 position: absolute;
 bottom: -6px;
}
 .them img {
 border: 4px solid #e5e5ea;
 left: -42px;
}

 p {
 //display: flex;
 margin: 0 0 2px;
 padding: 0.5em 1em 0.65em;
 border-radius: 4px;
 background: #e5e5ea;
 max-width: 65%;
 clear: both;
 position: relative;
}
.them p {
 width:auto;
 border-top-right-radius: 1em;
 border-bottom-right-radius: 1em;
}
.them p:last-child::after {
 //content: "";
 //position: absolute;

 border-right: 0.5em solid #e5e5ea;

 content: "";
 position: absolute;
 z-index: 3;
 bottom: -2px;
 left: -15px;
 width: 26px;
 height: 20px;

 border-bottom-right-radius: 10px;
 transform: rotate(50deg);
 transform-origin: 60% 40%;
}

.me p {
 float: right;
 background-color: #1289fe;
 color: white;
 border-top-left-radius: 1em;
 border-bottom-left-radius: 1em;
}
.me p:last-child::after {
 content: "";
 position: absolute;
 right: -0.5em;
 bottom: 0;
 width: 0.5em;
 height: 1em;
 border-left: 0.5em solid #1289fe;
 border-bottom-left-radius: 1em 0.5em;
 transform: rotate(50deg);
 transform-origin: 60% 40%;
}

p:first-child {
 border-top-right-radius: 1em;
 border-top-left-radius: 1em;
}

p:last-child {
 border-bottom-left-radius: 1em;
 margin-bottom: 8px;
}
.me p:last-child {
 border-bottom-left-radius: 1em;
 border-bottom-right-radius: 1em;
 margin-bottom: 8px;
}
}
/*--------------
  FOOTER
--------------*/
footer{
  background-color: #f8f9fa;
margin-top:80px;

.col-md-6{
 padding: 20px 0;
}}
@media screen and (max-width:768px){
label, select,input, textarea{
 width:100%;
}
}