$red: #fc6a66;
$white: #fff;
$red_dark: #973f3c;
$black: #28314A;
$grey: #8E939F;
@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
body{
 font-family: 'Barlow', sans-serif;
}
//ogolny css
//koniec ogólnego cssa
//poczatek buttona
a{
 color: $black;
 &:hover, &:active, &:focus, &:visited{
  color:$red;
  text-decoration: none;
 }
}
 .btn{
  text-transform: uppercase;
  display: inline-block;
  color: $white;
  font-size: 14px;
  line-height: 34px;
  padding: 5px 35px;
  letter-spacing: .100em;
  background-size: 200% 100%;
  background-color: $red;
  min-width: 198px;
  border-bottom: 2px solid $red;
  border-radius: 50px;
  transition: background-position .4s, color .4s;

  &:hover,
  &:focus {
   background-position: -100% 0;
   background-image: linear-gradient(to right, $red 50%, $red_dark 50%);
   color: $white;
   border-bottom: 2px solid $red;
  }
  &:active {
   background-color: $red;
   color: $white;
   border-bottom: 2px solid $red;
  }
 }

//koniec buttona
//inputy:

input, textarea {
 color: #28314A;
 font-size: 14px;
 margin-bottom: 15px;
 max-height: 180px;
 line-height: 24px;
 border: none;
 border-bottom: 1px solid #8E939F;
 border-radius: 0px;
 resize: none;
 outline: none;
}


/*--------------
  HOME SLIDER
--------------*/
//.home_slider_section {
// height: 85vh;
// //overflow-y: hidden;
//
// .item {
//  min-width: 100%;
//  width: 100%;
//  background-size: cover;
//  overflow: hidden;
//  position: relative;
//  display: table;
//  background-color: rgba(0,0,0,0.4);
//
//  .content {
//
//   vertical-align: middle;
//   display: table-cell;
//   z-index: 3;
//   text-align: left;
//   height: 85vh;
//   color: $white;
//
//   .slider_title {
//    h1{
//     color: $white;
//     font-size: 50px;
//     letter-spacing: -1px;
//     margin-bottom: 30px;
//     text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);}
//   }
//   .slider_description {
//
//    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
//   }
//  }
//  img {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   z-index: -1;
//   height: 100%;
//   -o-object-fit: cover;
//   object-fit: cover;
//  }
// }
// .owl-dots {
//  position: absolute;
//  top: 30%;
//  left: 50%;
//  width: 100%;
//  max-width: 1120px;
//
//  transform: translateX(-50%);
// }
// .owl-dot {
//  display: inline-block;
//  width: 65px;
//  height: 1px;
//  margin-right: 5px;
//  background-color: $white !important;
//  &.active {
//   width: 65px;
//   height: 1px;
//   margin-right: 5px;
//   background-color: $red !important;
//  }
//  &:hover {
//   background-color: $red !important;
//  }
// }
//}

/*--------------
  CONTACT
--------------*/


/*--------------
  FOOTER
--------------*/


.carousel-wrap {
 margin: 90px auto;
 padding: 0 5%;
 width: 80%;
 position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
 position: relative;
 z-index: 100;
 -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
 margin-top: -26px;
 position: absolute;
 top: 50%;
 color: #cdcbcd;
}

.owl-nav i {
 font-size: 52px;
}

.owl-nav .owl-prev {
 left: -30px;
}

.owl-nav .owl-next {
 right: -30px;
}