{% extends 'base.html.twig' %}

{% block title %}Nowe powiadomienie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nowe powiadomienie</h1>

        {{ include('admin/notice/form/_new_form.html.twig') }}
        </br>
        <a href="{{ path('index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}

