{% extends 'base.html.twig' %}

{% block title %}Nowe powiadomienie{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Nowe powiadomienie ✅</h1>

        {{ include('admin/notice/form/_new_form.html.twig') }}
        </br>
        <a href="{{ path('index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}

