{% extends 'base.html.twig' %}

{% block title %}Użytkownicy rozmowy{% endblock %}

{% block body %}

    <div class="container">
        <h1>Użytkownicy rozmowy</h1>

        <a href="{{ path('conversation_user_search', {'id': conversation.id}) }}">Szukaj użytkowników</a>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Użytkownik</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Nie znaleziono użytkowników!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
        <a href="{{ path('conversation_show', {'id': conversation.id}) }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
