{% extends 'base.html.twig' %}

{% block title %}Szukaj użytkowników{% endblock %}

{% block body %}


    <div class="container">
        <h1>Szukaj użytkowników</h1>

        {{ include('conversation/user/form/_search_form.html.twig', {'button_label': 'Szukaj'}) }}</br></br>
        <div class="headertable"> <div class="row"><div class="col-md-9">{% trans %}Użytkownik{% endtrans %}</div><div class="col-md-3">{% trans %}Akcje{% endtrans %}</div></div></div>

        {% for user in users %}
        <div class="listtable">
            <div class="row">
                <div class="col-md-9 pad">{{ user.username }}</div>
                <div class="col-md-3 pad"> <a href="{{ path('conversation_user_add', {'conversationId': conversation.id, 'userId': user.id}) }}">Dodaj</a></div></div>
        </div>
            {% else %}

                    Nie znaleziono użytkowników!

            {% endfor %}

        </br> </br>
        <a href="{{ path('conversation_user_index', {'id': conversation.id}) }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
