{% extends 'base.html.twig' %}

{% block title %}Edytuj kurs{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Edytuj kurs{% endtrans %}</h1>



        </br>   {{ include('course/course/form/_new_form.html.twig') }}
    </br> {{ include('course/course/form/_delete_form.html.twig') }}</br>
        </br>


        <a href="{{ path('course_index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>


    </div>
{% endblock %}
