{% extends 'base.html.twig' %}

{% block title %}Edytuj kurs{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Edytuj kurs{% endtrans %}</h1>

        {{ include('course/course/form/_change_password_form.html.twig') }}
        </br>
        {{ include('course/course/form/_edit_form.html.twig') }}
        </br>
        {{ include('course/course/form/_delete_form.html.twig') }}
        </br>
        <a href="{{ path('course_index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
