{% extends 'base.html.twig' %}

{% block title %}Dołącz do kursu{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Dołącz do kursu{% endtrans %}</h1>

        {{ include('course/course/form/_enter_form.html.twig') }}
    </div>
{% endblock %}
