<form method="post" action="{{ path('course_delete', {'id': course.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć kurs wraz z sekcjami, powiadomieniami, webinarami, ocenami, zadaniami oraz plikami?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn delete">{% trans %}Usuń kurs{% endtrans %}</button>
</form>
