{% extends 'base.html.twig' %}

{% block title %}Użytkownik{% endblock %}

{% block body %}


    <div class="container">
        <h1>Użytkownik</h1>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Id{% endtrans %}</div><div class="col-md-9 pad"> {{ userInfo.id }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Nr albumu{% endtrans
                    %}</div><div class="col-md-9 pad">{{ userInfo.indeks }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Użytkownik{% endtrans %}</div><div class="col-md-9 pad"> {{ userInfo.username }}</div></div></div>

</br></br>
          
        <a href="{{ path('course_user', {'id': course.id}) }}" class="back">Wróć</a>
    </div>
{% endblock %}
