{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Rejestracja{% endtrans %}</h1>

        {{ include('user/form/_register_form.html.twig') }}
        </br>
        <a href="{{ path('public') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
