{% extends 'base.html.twig' %}

{% block title %}Nowa sekcja{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Nowa sekcja{% endtrans %}</h1>

        {{ include('course/section/form/_new_form.html.twig') }}
        </br>
        <a href="{{ path('course_show', {'id': course.id}) }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
